
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh; 
    grid-template-rows: 60px 50px 1fr 60px;
}


.main-area {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
}


.header { background-color: #f1c45d; }
.nav    { background-color: #b0f48d; }
.footer { background-color: #f1c45d; }
.aside  { background-color: #9cc4f4; }
.main   { background-color: #b178f4; }


.header, .nav, .aside, .main, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.05); 
}